* {
    padding: 0;
    margin: 0;
}

#A {
    display: none;
}

.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#A:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#A:checked~.togglebox label span:nth-child(2) {
    transform: rotate(-60deg);
    top: 25px;
    left: -5px;
    height: 2px;
    background-color: white;
}

#A:checked~.togglebox label span:nth-child(3) {
    transform: rotate(60deg);
    top: 25px;
    left: 15px;
    height: 2px;
    background-color: white;
}

#A:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    left: 10px;
    top: 31px;
    width: 30px;
    height: 2px;
    background-color: white;
}


#B {
    display: none;
}

.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#B:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    left: 10px;
    top: 5px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#B:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#B:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 20px;
    height: 2px;
    background-color: white;
}

#B:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    width: 30px;
    left: 10px;
    top: 25px;
    height: 2px;
    background-color: white;
}

#B:checked~.togglebox label span:nth-child(5) {
    transform: rotate(0deg);
    width: 30px;
    left: 10px;
    top: 45px;
    height: 2px;
    background-color: white;
}

#C {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#C:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#C:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#C:checked~.togglebox label span:nth-child(3) {
    display: none;
}

#C:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    width: 30px;
    left: 10px;
    top: 45px;
    height: 2px;
    background-color: white;
}

#D {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#D:checked~.togglebox label span:nth-child(1) {
    transform: rotate(15deg);
    top: 10px;
    left: 11px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#D:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -9px;
    height: 2px;
    background-color: white;
}

#D:checked~.togglebox label span:nth-child(3) {
    transform: rotate(-15deg);
    top: 40px;
    width: 30px;
    left: 11px;
    height: 2px;
    background-color: white;
}
#D:checked~.togglebox label span:nth-child(4) {
    transform: rotate(90deg);
    top: 25px;
    width: 24px;
    left: 28px;
    height: 2px;
    background-color: white;
}

#E {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#E:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#E:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#E:checked~.togglebox label span:nth-child(3) {
    transform: rotate(0deg);
    top: 45px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#E:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    left: 10px;
    top: 25px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#F {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#F:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#F:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#F:checked~.togglebox label span:nth-child(3) {
    transform: rotate(0deg);
    top: 25px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#F:checked~.togglebox label span:nth-child(4) {
    display: none;
}


#G {
    display: none;
}

.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}

.togglebox label span:nth-child(6) {
    height: 0;
}

#G:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    width: 30px;
    left: 10px;
    top: 5px;
    height: 2px;
    background-color: white;

}

#G:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;

}

#G:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 35px;
    width: 20px;
    left: 30px;
    height: 2px;
    background-color: white;
}

#G:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#G:checked~.togglebox label span:nth-child(5) {
    transform: rotate(0deg);
    width: 30px;
    left: 10px;
    top: 45px;
    height: 2px;
    background-color: white;

}

#H {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#H:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#H:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#H:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 20px;
    height: 2px;
    background-color: white;
}

#H:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#H:checked~.togglebox label span:nth-child(5) {
    display: none;
}


#I {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#I:checked~.togglebox label span:nth-child(1) {
    transform: rotate(90deg);
    top: 7px;
    left: 25px;
    width: 4px;
    height: 2px;
    background-color: white;
}

#I:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 28px;
    left: 12px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#I:checked~.togglebox label span:nth-child(3) {
    display: none;
}

#I:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#J {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#J:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#J:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 30px;
    left: 13px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#J:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 7px;
    left: 26px;
    width: 4px;
    height: 2px;
    background-color: white;
}

#J:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#J:checked~.togglebox label span:nth-child(5) {
    transform: rotate(0deg);
    top: 44px;
    left: 18px;
    width: 10px;
    height: 2px;
    background-color: white;
}

#K {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#K:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#K:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -8px;
    height: 2px;
    background-color: white;
}

#K:checked~.togglebox label span:nth-child(3) {
    transform: rotate(40deg);
    top: 35px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#K:checked~.togglebox label span:nth-child(4) {
    transform: rotate(-40deg);
    top: 15px;
    left: 10px;
    width: 32px;
    height: 2px;
    background-color: white;
}

#L {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#L:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 45px;
    left: 11px;
    height: 2px;
    width: 27px;
    background-color: white;
}

#L:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -8px;
    height: 2px;
    background-color: white;
}

#L:checked~.togglebox label span:nth-child(3) {
    display: none;
}

#L:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#L:checked~.togglebox label span:nth-child(5) {
    display: none;
}

#M {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#M:checked~.togglebox label span:nth-child(1) {
    transform: rotate(60deg);
    top: 20px;
    left: 0px;
    height: 2px;
    width: 35px;
    background-color: white;
}

#M:checked~.togglebox label span:nth-child(2) {
    transform: rotate(-60deg);
    top: 20px;
    left: 17px;
    height: 2px;
    width: 35px;
    background-color: white;
}

#M:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 23px;
    height: 2px;
    background-color: white;
}

#M:checked~.togglebox label span:nth-child(4) {
    transform: rotate(90deg);
    top: 25px;
    left: -12px;
    height: 2px;
    background-color: white;
}

#N {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#N:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#N:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#N:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 20px;
    height: 2px;
    background-color: white;
}

#N:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#N:checked~.togglebox label span:nth-child(5) {
    transform: rotate(51deg);
    top: 25px;
    left: 0px;
    width: 50px;
    height: 2px;
    background-color: white;
}



#O {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#O:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
    

}

#O:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#O:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 20px;
    height: 2px;
    background-color: white;
}

#O:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 45px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#O:checked~.togglebox label span:nth-child(5) {
   display: none;
}


#Ö {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}
.togglebox label span:nth-child(6) {
    height: 0;
}


#Ö:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 15px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#Ö:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 30px;
    left: -5px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#Ö:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 30px;
    left: 25px;
    width: 30px;
    height: 2px;
    background-color: white;
}

#Ö:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 45px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#Ö:checked~.togglebox label span:nth-child(5) {
    transform: rotate(90deg);
    top: 5px;
    left: 30px;
    width: 5px;
    height: 2px;
    background-color: white;
}
#Ö:checked~.togglebox label span:nth-child(6) {
    transform: rotate(90deg);
    top: 5px;
    left: 15px;
    width: 5px;
    height: 2px;
    background-color: white;
}

#P {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#P:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#P:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#P:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 18px;
    left: 26px;
    width: 25px;
    height: 2px;
    background-color: white;
}

#P:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 30px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#P:checked~.togglebox label span:nth-child(5) {
    display: none;
}

#Q {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#Q:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 10px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#Q:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    width: 30px;
    left: -5px;
    height: 2px;
    background-color: white;
}

#Q:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 25px;
    width: 30px;
    height: 2px;
    background-color:white;
}

#Q:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 40px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color:white;
}

#Q:checked~.togglebox label span:nth-child(5) {
    transform: rotate(45deg);
    top: 35px;
    left: 28px;
    width: 17px;
    height: 2px;
    background-color: white;
}

#R {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#R:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#R:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#R:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 18px;
    left: 26px;
    width: 25px;
    height: 2px;
    background-color: white;
}

#R:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 30px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#R:checked~.togglebox label span:nth-child(5) {
    transform: rotate(28deg);
    top: 37px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#R2 {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#R2:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#R2:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#R2:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 18px;
    left: 26px;
    width: 25px;
    height: 2px;
    background-color: white;
}

#R2:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 30px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#R2:checked~.togglebox label span:nth-child(5) {
    transform: rotate(28deg);
    top: 37px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}
#S {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#S:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 10px;
    height: 2px;
    width: 30px;
    background-color: white;
}

#S:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 14px;
    left: 0px;
    width: 20px;
    height: 2px;
    background-color: white;
}

#S:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 33px;
    left: 30px;
    width: 20px;
    height: 2px;
    background-color: white;
}

#S:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 24px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#S:checked~.togglebox label span:nth-child(5) {
    transform: rotate(0deg);
    top: 42px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#T {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#T:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 8px;
    height: 2px;
    width: 35px;
    background-color: white;
}

#T:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: 5px;
    height: 2px;
    background-color: white;
}

#T:checked~.togglebox label span:nth-child(3) {
    display: none;
}

#T:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#T:checked~.togglebox label span:nth-child(5) {
    display: none;
}

#T2 {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#T2:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 5px;
    left: 8px;
    height: 2px;
    width: 35px;
    background-color: white;
}

#T2:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: 5px;
    height: 2px;
    background-color: white;
}

#T2:checked~.togglebox label span:nth-child(3) {
    display: none;
}

#T2:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#T2:checked~.togglebox label span:nth-child(5) {
    display: none;
}


#U {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#U:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#U:checked~.togglebox label span:nth-child(2) {
    transform: rotate(90deg);
    top: 25px;
    left: -10px;
    height: 2px;
    background-color: white;
}

#U:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 20px;
    height: 2px;
    background-color: white;
}

#U:checked~.togglebox label span:nth-child(4) {
    transform: rotate(0deg);
    top: 45px;
    width: 30px;
    left: 10px;
    height: 2px;
    background-color: white;
}

#U:checked~.togglebox label span:nth-child(5) {
    display: none;
}

#V {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}

.togglebox label span:nth-child(5) {
    height: 0;
}


#V:checked~.togglebox label span:nth-child(1) {
    display: none;
}

#V:checked~.togglebox label span:nth-child(2) {
    transform: rotate(60deg);
    top: 25px;
    left: -5px;
    height: 2px;
    background-color: white;
}

#V:checked~.togglebox label span:nth-child(3) {
    transform: rotate(-60deg);
    top: 25px;
    left: 15px;
    height: 2px;
    background-color: white;
}

#V:checked~.togglebox label span:nth-child(4) {
    display: none;
}

#V:checked~.togglebox label span:nth-child(5) {
    display: none;
}

#W {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {
    top: 40px;
}

.togglebox label span:nth-child(4) {
    height: 0;
}


#W:checked~.togglebox label span:nth-child(1) {
    transform: rotate(40deg);
    top: 35px;
    left: 23px;
    height: 2px;
    width: 25px;
    background-color: white;
}

#W:checked~.togglebox label span:nth-child(2) {
    transform: rotate(-40deg);
    top: 35px;
    left: 4px;
    height: 2px;
    width: 25px;
    background-color: white;
}

#W:checked~.togglebox label span:nth-child(3) {
    transform: rotate(90deg);
    top: 25px;
    left: 25px;
    height: 2px;
    background-color: white;
}

#W:checked~.togglebox label span:nth-child(4) {
    transform: rotate(90deg);
    top: 25px;
    left: -14px;
    height: 2px;
    background-color: white;
}

#X {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {

    top: 40px;
}

#X:checked~.togglebox label span:nth-child(1) {
    transform: rotate(45deg);
    top: 25px;
    height: 2px;
    background-color: white;
}

#X:checked~.togglebox label span:nth-child(2) {
    display: none;
}

#X:checked~.togglebox label span:nth-child(3) {
    transform: rotate(-45deg);
    top: 25px;
    height: 2px;
    background-color: white;
}

#Y {
    display: none;
}


.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {

    top: 40px;
}

#Y:checked~.togglebox label span:nth-child(1) {
    transform: rotate(45deg);
    top: 19px;
    width: 22px;
    height: 2px;
    background-color: white;


}

#Y:checked~.togglebox label span:nth-child(2) {

    top: 25px;
    display: none;
    height: 2px;
    background-color: white;


}

#Y:checked~.togglebox label span:nth-child(3) {
    transform: rotate(-45deg);
    top: 25px;
    height: 2px;
    background-color: white;

}

#Z {
    display: none;
}

.togglebox label {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color:black;
    position: relative;
    display: block;
    margin: 10px;
}

.togglebox label span {
    width: 40px;
    left: 5px;
    height: 1px;
    position: absolute;
    background-color: white;
    transition: transform 1s;
}

.togglebox label span:nth-child(1) {

    top: 10px;
}

.togglebox label span:nth-child(2) {

    top: 25px;
}

.togglebox label span:nth-child(3) {

    top: 40px;
}

#Z:checked~.togglebox label span:nth-child(1) {
    transform: rotate(0deg);
    top: 11px;
    width: 40px;
    height: 2px;
    background-color: white;



}

#Z:checked~.togglebox label span:nth-child(2) {

    top: 26px;
    transform: rotate(-37deg);
    width: 47px;
    height: 2px;
    background-color: white;
    left: 0px;


}

#Z:checked~.togglebox label span:nth-child(3) {
    transform: rotate(0deg);
    bottom: 11px;
    height: 2px;
    background-color: white;

}



